html,body{
  margin: 0;
  overflow: hidden;
  
}

body{
  font-family: 'Noto Sans', sans-serif;
}

.mainDiv {
  height: 100vh;
  /* overflow: hidden; */
}

/* .MuiPaper-root .MuiPaper-elevation .MuiPaper-rounded .MuiPaper-elevation24 .MuiDialog-paper .MuiDialog-paperScrollPaper .MuiDialog-paperWidthSm .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  background-color: #0f0b4b;
} */

.MuiDialog-root{
  background-color: rgba(100,100,100,0.3);
}

.mainCard{
  z-index: 10;
  /* background-color: rgba(255, 255, 255, 0.4); */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  margin-top: 20vh;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3px);
}

.base {
  position: absolute;
  filter: blur(60px);
  opacity: 0.8;
}

.one {
  border-radius: 100%;
  width: 300vw;
  height: 200vh;
  background-color: #0f0b4b;
  /* background-color: #373372; */
  left:50px;
  top:-300px;
  z-index: 0;
}

.two {
  width: 250vw;
  height: 200vh;
  background-color: #683179;
  /* background-color: #7C336C; */
  bottom:30px;
  left:80px;
}

.three {
  border-radius: 100%;
  width: 300vw;
  height: 300vh;
  bottom:80px;
  right:-70px;
  background-color: #17414e;
  /* background-color: #B3588A; */
}


.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow:hidden;
  background-color: #fff;
  background-image: 
    radial-gradient(at top left, #F0ACE0, transparent),
    radial-gradient(at top right, #FFA4B2, transparent),
    radial-gradient(at bottom left, #A7D3F2, transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
